@using BarCrawler.Models
@model IEnumerable<BarCrawler.Models.BarModel>


@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>BarCrawler</h1>
    <p class="lead">Velkommen til BarCrawler! </p>
</div>

<ul id="ForsideTabs" class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#oversigt">Oversigt</a></li>
    <li><a data-toggle="tab" href="#event">Event</a></li>
    <li><a data-toggle="tab" href="#feed">Feed</a></li>
    <li><a onclick="initMap" data-toggle="tab" href="#kort">Kort</a></li>
</ul>



@* ************************ OVERSIGT TAB ****************************** *@

<div id="ForsideTabContext" class="tab-content">
    <div id="oversigt" class="tab-pane fade in active" role="tabpanel">
        <div class="list-group">

            @* Placeholder for en barprofil *@
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Index", "BarProfil", new {id = item.BarID})" class="list-group-item">

                    <div class="media">
                        <div class="pull-left">
                            
                            <img class="media-object" src="@Url.Content(item.Pictures.Count <= 0 || item.Pictures[0].Directory == null ? "hej" : item.Pictures[0].Directory)" alt="N/A" style="width: 64px; height: 64px"/>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@item.BarName</h4>
                            @item.Description
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

    @* ************************ EVENT TAB ****************************** *@

    <div id="event" class="tab-pane fade">

        @{
            //opretter en liste med EventModeller
            List<EventModel> unsorted = new List<EventModel>();
        }

        @foreach (var item in Model)
        {
            foreach (var events in item.Events)
            {
                //tilføjer listen med alle eksisterende events
                unsorted.Add(events);
            }
        }
        @{
            //opretter en ny liste med alle event-onbjekterne i sorteret rækkefølge efter DateTime
            List<EventModel> SortedList = unsorted.OrderBy(o => o.DateAndTimeForEvent).ToList();
        }
        
        
       
        @foreach (var eventobj in SortedList) //Udskriver den sorterede liste på event-fanen 
        {
            <a href="@Url.Action("Index", "BarProfil", new {id = eventobj.BarID})" class="list-group-item">
                <div class="container">
                    <div class="col-lg-1">
                        <div class="row">
                            <p style="color: #22662f">
                                @eventobj.DateAndTimeForEvent
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <h4><b>@eventobj.Title</b></h4>
                        </div>

                        <div class="row">
                            <p>
                                @eventobj.BarModel.BarName
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                @eventobj.Description
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }










        @*@foreach (var item in Model)
            {
                foreach (var events in item.Events)
                {
                    <a href="@Url.Action("Index", "BarProfil", new {id = item.BarID})" class="list-group-item">
                        <div class="container">
                            <div class="col-lg-1">
                                <div class="row">
                                    <p style="color: #22662f">
                                        @events.DateAndTimeForEvent
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <h4><b>@events.Title</b></h4>
                                </div>

                                <div class="row">
                                    <p>
                                        @item.BarName
                                    </p>
                                </div>
                                <div class="row">
                                    <p>
                                        @events.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }*@
    </div>



    @* ************************ FEED TAB ****************************** *@
    @*Lav feed tabel snart!*@

    @foreach (var item in Model)
    {
        foreach (var feed in item.Feeds)
        {
            <div id="feed" class="tab-pane fade">
                <a class="list-group-item">
                    <div class="container">
                        <div class="col-lg-1">
                            <div class="row">
                                <p style="color: #22662f">
                                    @* MAngler tid for post / DateTime prop *@
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <p>
                                    <b>
                                        @item.BarName
                                    </b>
                                </p>
                            </div>

                            <div class="row">
                                <p>
                                    @feed.Text
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }




    @* ************************ GOOGLE MAPS TAB ****************************** *@

    <div id="kort" class="tab-pane fade">
        <h3> Bar kort </h3>
        <div id="map" onmousedown="resize()"></div>
        <style>
            #map {
                width: 100%;
                height: 400px;
            }
        </style>

    </div>
</div>

<script>
    var map;
    function initMap() {
        var aarhus = { lat: 56.158170, lng: 10.198101 };
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 13,
                center: aarhus
            });
    }


    function resize() {

        /* Trigger map resize event */
        google.maps.event.trigger(map, 'resize');
    }



</script>
<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJU97le-qA2klWf9XxpEziqQNcNAFMCHU&callback=initMap">
</script>

