@using System.Globalization
@using BarCrawler.Models
@model IEnumerable<BarCrawler.Models.BarModel>


@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>BarCrawler</h1>
    <p class="lead">Velkommen til BarCrawler! </p>
</div>

<ul id="ForsideTabs" class="nav nav-tabs nav-justified">
    <li id="ovsersigtLi" class="active"><a data-toggle="tab" href="#oversigt">Oversigt</a></li>
    <li id="eventLi"><a data-toggle="tab" href="#event">Event</a></li>
    <li id="feedLi"><a data-toggle="tab" href="#feed">Feed</a></li>
    <li><a id="kortTab" data-toggle="tab" href="#kort">Kort</a></li>
</ul>

@*Script til active tabs*@

@**@
<script type="text/javascript">
    window.addEventListener("load", function () {
        $('a[href="#kort"]').on('shown.bs.tab',
            function () {
                console.log("Kort kald!");
                initMap();
            });
    });
</script>


@* ************************ OVERSIGT TAB ****************************** *@

<div id="ForsideTabContext" class="tab-content">
    <div id="oversigt" class="tab-pane fade in active" role="tabpanel">
        <div class="list-group">

            <p id="count" hidden>@Model.Count()</p>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <p hidden id="@("address" + i)">@Model.ToList()[i].Address1 @Model.ToList()[i].StreetNumber @Model.ToList()[i].Zipcode @Model.ToList()[i].City</p>
                <p hidden id="@("name" + i)">@Model.ToList()[i].BarName</p>
                <p hidden id="@("description" + i)">@Model.ToList()[i].Description</p>
            }

            @* OVersigt over barprofiler *@
            @foreach (var item in Model)
            {

                <a href="@Url.Action("Index", "BarProfil", new {id = item.BarID})" class="list-group-item">

                    <div class="media">
                        <div class="pull-left">
                            @if (item.ProfilPictureModel != null)
                            {
                                <img src="@Url.Content(item.ProfilPictureModel.Directory)" alt="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1" style="width: 64px; height: 64px" ; position relative; />
                            }
                            else
                            {
                                <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1" style="width: 64px; height: 64px; position: relative;" />
                            }

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@item.BarName</h4>
                            @item.Description
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

    @* ************************ EVENT TAB ****************************** *@

    <div id="event" class="tab-pane fade">

        @{
            //opretter en liste med EventModeller
            List<EventModel> eventList = new List<EventModel>();
            foreach (var item in Model)
            {
                if (item.Events != null)
                {
                    foreach (var events in item.Events)
                    {
                        //tilføjer listen med alle eksisterende events
                        eventList.Add(events);
                    }
                }
                //opretter en ny liste med alle event-onbjekterne i sorteret rækkefølge efter DateTime

            }
            eventList = eventList.OrderBy(o => o.DateAndTimeForEvent).ThenBy(o => o.Title).ToList();
        }

        @foreach (var eventobj in eventList) //Udskriver den sorterede liste på event-fanen
        {
            <a href="@Url.Action("Index", "BarProfil", new {id = eventobj.BarID})" class="list-group-item">
                <div class="container">
                    <div class="col-lg-1">
                        <div class="row">
                            <p style="color: #22662f">
                                @eventobj.DateAndTimeForEvent.ToString("dddd", CultureInfo.CreateSpecificCulture("da-DK"))
                                <br />
                                @eventobj.DateAndTimeForEvent.ToString("dd-MM-yyyy HH:mm")
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <h4><b>@eventobj.Title</b></h4>
                        </div>

                        <div class="row">
                            <p>
                                @eventobj.BarModel.BarName
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                @eventobj.Description
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>



    @* ************************ FEED TAB ****************************** *@
    <div id="feed" class="tab-pane fade">
        @{
            //opretter en liste med EventModeller
            List<FeedModel> feedList = new List<FeedModel>();
            foreach (var item in Model)
            {
                if (item.Feeds != null)
                {
                    foreach (var feed in item.Feeds)
                    {
                        feedList.Add(feed);
                    }
                }
            }
            feedList = feedList.OrderBy(o => o.CreateTime).ToList();
        }


        @foreach (var feedobj in feedList)
        {
            <a href="@Url.Action("Index", "BarProfil", new {id = feedobj.BarID})" class="list-group-item">
                <div>
                    <div style="font-size: 18px; ">
                        <b>@feedobj.BarModel.BarName</b>
                    </div>
                    <div style="font-size: 12px">
                        <i>@feedobj.CreateTime.ToString("HH:mm dd-MM-yyyy")</i> 
                    </div>
                </div>
                <div class="panel-body">
                    <p id="feedPara">
                        @feedobj.Text
                    </p>
                    <style>
                        #feedPara {
                            width: inherit;
                            font-size: 20px;
                            word-wrap: break-word;
                        }
                    </style>
                </div>
            </a>
        }

        @*@foreach (var feedobj in feedList) //Udskriver den sorterede liste på event-fanen
        {
            <a href="@Url.Action("Index", "BarProfil", new {id = feedobj.BarID})" class="list-group-item">
                <div class="container">
                    <div class="col-lg-1">
                        <div class="row">
                            <p style="color: #22662f">
                                @feedobj.CreateTime
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <h4><b>@feedobj.BarModel.BarName</b></h4>
                        </div>

                        <div class="row">
                            <p>
                                @feedobj.Text
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>*@

    @* ************************ GOOGLE MAPS TAB ****************************** *@

    <div id="kort" class="tab-pane fade">
        <div id="map"></div>
        <style>
            #map {
                width: 100%;
                height: 600px;
            }
        </style>

    </div>
</div>

<script>
    var map;
    console.log("Just from script!");

    function addressGet(callback) {
        console.log("addressGet called!");
        var addressArray = new Array();
        var nameArray = new Array();
        var desArray = new Array();
        var picArray = new Array();

        console.log($("#count").text());

        for (var i = 0; i < $("#count").text() ; i++) {
            addressArray.push($("#address" + i).text());
            nameArray.push($("#name" + i).text());
            desArray.push($("#description" + i).text());
            picArray.push($("#picutre" + i).text());



            var contentString = '<h3 id="firstHeading">' +
                nameArray[i] +
                '</h3>' +
                '<div id="body">' +
                desArray[i] +
                '</div>';

            console.log(contentString);

            callback(addressArray[i], contentString);
        }
    }


    function markCreator(address, contentString) {
        console.log("markCreator called!");
        console.log(contentString);
        var latitude = 0;
        var longitude = 0;
        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': address },
            function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();


                    var LatLng = { lat: latitude, lng: longitude };

                    console.log(contentString);
                    var infoWindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    var marker = new google.maps.Marker({
                        position: LatLng,
                        map: map
                    });


                    marker.addListener('click',
                        function () {
                            infoWindow.open(map, marker);
                        });
                }


            });
    }

    function initMap() {
        console.log("InitMap called");
        var aarhus = { lat: 56.1637359, lng: 10.2077074 };
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 14,
                center: aarhus
            });
        addressGet(markCreator);
    }

</script>

<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJU97le-qA2klWf9XxpEziqQNcNAFMCHU">
</script>
@*&callback=initMap*@

