@using System.Net.Configuration
@model BarCrawler.Models.BarModel

@{
    ViewBag.Title = "BarProfil";
}

<script type="text/javascript">
    var map;
    Window.onload = function () {
        google.maps.visualRefresh = true;
        var Aarhus = new google.maps.LatLng(56.158170, 10.198101);

        var mapOptions = {
            zoom: 13,
            center: Aarhus,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("barMap"), mapOptions);

    }

</script>

<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJU97le-qA2klWf9XxpEziqQNcNAFMCHU&callback=initMap">
</script>

@*Indsæt coverbillede her*@
<div class="container" style="width: 100%; height: 350px; overflow: hidden;">
    @if (Model.Pictures.Count > 0)
    {
        <img src="@Url.Content(Model.Pictures[0].Directory)" alt="Img" style="max-height: 350px; position: relative;" />
    }
    @if (Model.Pictures.Count == 0)
    {
        <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1" style="max-width: 100%; position: relative;" />
    }
</div>

@*Script til feed textbox*@
<script type="text/javascript">
    var value = "Lav et opslag...";
    function clearText(element) {
        if (element.value == value) {
            document.getElementById("feedInput").style.color = "black";
            element.value = '';
        }
    }
    function resetText(element) {
        if (element.value == '') {
            document.getElementById("feedInput").style.color = "gray";
            element.value = value;
        }
    }
</script>

<h2> @Html.DisplayFor(Model => Model.BarName)</h2>
<ul class="nav nav-tabs nav-justified" style="width:90%">
    <li role="presentation" class="active"><a href="#Feed" aria-controls="Feed" role="tab" data-toggle="tab">Feed</a></li>
    <li role="presentation"><a href="#Events" aria-controls="Events" role="tab" data-toggle="tab">Events</a></li>
    <li role="presentation"><a href="#Galleri" aria-controls="Galleri" role="tab" data-toggle="tab">Galleri</a></li>
    <li role="presentation"><a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">Info</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Feed">
        <div style="line-height: 20px">
            <h2>Feedoversigt</h2>
        </div>
        <div style="width: 70%; float: left; margin-top: 5px; ">
            @*Opret feed text felt*@
            <ul class="list-group" style="width: 99%;">
                <li class="list-group-item">
                    <textarea maxlength="200" id="feedInput" onfocusin="clearText(this);" rows="5" cols="5" onfocusout="resetText(this);">Lav et opslag...</textarea>
                    <style>
                        #feedInput {
                            color: gray;
                            resize: none;
                            border: inherit;
                            width: 80%;
                            height: 100%;
                            outline: none;
                            border-radius: inherit;
                        }
                    </style>
                    @Html.ActionLink("Slå op", )
                </li>

            </ul>
            <div class="list" style="margin-right: 15px">

                @foreach (var item in Model.Feeds)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @item.Text
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="width: 30%; float: left; margin-top: 5px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table>
                        <tr>
                            <td style="width: 27px"><span class="glyphicon glyphicon-time"></span></td>
                            <td>Åbningstider</td>
                        </tr>
                        <tr>
                            <td style="width: 27px"><span class="glyphicon glyphicon-book"></span></td>
                            <td>@*Fakultet*@ @Model.Faculty</td>
                        </tr>
                        <tr>
                            @*Vejnavn og nummer*@
                            <td style="width: 27px"><span class="glyphicon glyphicon-home"></span></td>
                            <td>@Model.Address1 @Model.StreetNumber</td>
                        </tr>
                        <tr>
                            @*Postnummer og by*@
                            <td style="width: 27px"></td>
                            <td>@Model.Zipcode @Model.City</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <div id="barMap">
                        <style>
                            #barMap {
                                max-width: 100%;
                                height: 200px;
                            }
                        </style>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div role="tabpanel" class="tab-pane fade in" id="Events">
        @if (Model.Events.Count > 0)
            {
            <div class="container">
                <h2>
                    Kalender
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </h2>


                <hr />

                <div class="agenda">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered">
                            <colgroup>
                                <col width="200" />
                                <col width="200" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Dato</th>
                                    <th>Tid</th>
                                    <th>Event</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model.Events)
                            {
                                <tbody>
                                    <!-- Single event in a single day -->
                                    <tr>
                                        <td class="agenda-date" rowspan="1">
                                            <div class="dayofweek">@item.DateAndTimeForEvent.DayOfWeek</div>
                                            <div class="shortdate text-muted">@item.DateAndTimeForEvent.Date.ToString("dd MMMM yyyy")</div>
                                        </td>
                                        <td class="agenda-time">
                                            @item.DateAndTimeForEvent.Hour
                                            :
                                            @item.DateAndTimeForEvent.Minute
                                        </td>
                                        <td class="agenda-events">
                                            <div class="agenda-event">
                                                <h5><b>@item.Title</b></h5>
                                                <p>@item.Description</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (Model.Events.Count == 0)
            {
            <h2>@Model.BarName har ingen kommende events</h2>
        }

    </div>

    <div role="tabpanel" class="tab-pane fade in" id="Galleri">
        <h2>Galleri <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button></h2>
        @if (@Model.Pictures.Count > 0)
            {
            <div class="row">
                @foreach (var item in Model.Pictures)
                {
                    <div class="col-lg-3">
                        <div class="row">
                            <img class="resize"
                                 src="@Url.Content(item.Directory)"
                                 alt=""
                                 style="max-height: 200px;
                                                               max-width: 290px;
                                                               margin-left: auto;
                                                               margin-right: auto; display: block;" />
                        </div>
                        <div class="row">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    </div>
                }
            </div>
        }


    </div>

    <div role="tabpanel" class="tab-pane fade in" id="Info">
        <h2>
            Kontaktinformation
            <a href="@Url.Action("Edit", "BarProfil", new {id = @Model.BarID})">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></button>
            </a>
        </h2>
        <div class="container">
            <div class="col-lg-2">
                <div class="row">
                    <b>Åbninstider: </b>
                </div>
                <div class="row">
                    <b>Email: </b>
                </div>
                <div class="row">
                    <b>Telefon nr.:</b>
                </div>
                <div class="row">
                    <b>Fakultet: </b>
                </div>
                <div class="row">
                    <b>Adresse: </b>
                </div>
                <div class="row">
                    <b>By: </b>
                </div>

            </div>
            <div class="col-lg-10">
                <div class="row">Åbningstid </div>
                <div class="row">@Model.Email </div>
                <div class="row">@Model.PhoneNumber </div>
                <div class="row">@Model.Faculty</div>
                <div class="row">@Model.Address1 @Model.StreetNumber</div>
                <div class="row">@Model.Zipcode @Model.City</div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2>
                    Om os
                    <a href="@Url.Action("Edit", "BarProfil", new {id = @Model.BarID})">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></button>
                    </a>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    @Model.Description
                </div>
            </div>
            @if (Model.Drinks.Count > 0)
            {
                <div class="row">
                    <h2>Drinkskort <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button></h2>
                </div>

                <div class="row">
                    <div class="col-lg-1"><b>Navn</b></div>
                    <div class="col-lg-1"><b>Pris</b></div>
                </div>
                foreach (var item in Model.Drinks)
                {
                    <div class="row">
                        <div class="col-lg-1">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="col-lg-1">@Html.DisplayFor(modelItem => item.Price)</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
