@using System.Net.Configuration
@using BarCrawler.Models
@using Microsoft.AspNet.Identity
@using System.Reflection.Emit
@model BarCrawler.Models.BarModel

@{
    ViewBag.Title = "BarProfil";
}

<script type="text/javascript">
    var map;

    window.addEventListener("load",
        function (event) {
            initMap();

            console.log("load Called");
        });

    function initMap() {


        var Aarhus = new google.maps.LatLng(56.158170, 10.198101);

        var mapOptions = {
            zoom: 13,
            center: Aarhus,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("barMap"), mapOptions);
    }

</script>

<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJU97le-qA2klWf9XxpEziqQNcNAFMCHU&callback=initMap">
</script>


@*Indsæt coverbillede her*@
<div class="container" style="width: 100%; height: 350px; overflow: hidden;">
    @if (Model.ProfilPictureModel != null)
    {
        <img src="@Url.Content(Model.ProfilPictureModel.Directory)" alt="N/A" style="max-height: 350px; position: relative;" />
    }
    else
    {
        <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1" style="max-width: 100%; position: relative;" />
    }
</div>

@*Script til feed textbox*@
<script type="text/javascript">
    var value = "Lav et opslag...";
    function clearText(element) {
        if (element.value == value) {
            document.getElementById("feedInput").style.color = "black";
            element.value = '';
        }
    }
    function resetText(element) {
        if (element.value == '') {
            document.getElementById("feedInput").style.color = "gray";
            element.value = value;
        }
    }
</script>

<h2> @Html.DisplayFor(Model => Model.BarName)</h2>
<ul class="nav nav-tabs nav-justified" style="width:90%">
    <li role="presentation" class="active"><a href="#Feed" aria-controls="Feed" role="tab" data-toggle="tab">Feed</a></li>
    <li role="presentation"><a href="#Events" aria-controls="Events" role="tab" data-toggle="tab">Events</a></li>
    <li role="presentation"><a href="#Galleri" aria-controls="Galleri" role="tab" data-toggle="tab">Galleri</a></li>
    <li role="presentation"><a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">Info</a></li>
</ul>
<div class="tab-content">

    @* ************************ FEED TAB ****************************** *@

    <div role="tabpanel" class="tab-pane fade in active" id="Feed">
        <div style="line-height: 20px">
            <h2>Feedoversigt</h2>
        </div>
        <div style="width: 70%; float: left; margin-top: 5px;">
            @if (User.Identity.GetUserId() == Model.userID)
            {
                @*Opret feed text felt*@
                <ul class="list-group" style="width: 99%;">
                    <li class="list-group-item" style="background-color: transparent; border: none">
                        <textarea maxlength="200" id="feedInput" onfocusin="clearText(this);" rows="5" cols="5" onfocusout="resetText(this);">Lav et opslag...</textarea>

                        <a class="btn btn-success" onclick="passText()" id="feedBtn">Slå op!</a>
                        <style>
                            #feedBtn {
                                background-color: darkred;
                                border: none;
                                width: 19%;
                                height: 120px;
                                font-size: 25px;
                                padding-top: 40px;
                            }
                        </style>
                        <style>
                            #feedInput {
                                color: gray;
                                resize: none;
                                width: 80%;
                                height: 120px;
                                outline: black;
                                border-radius: inherit;
                                font-size: 20px;
                            }
                        </style>
                    </li>
                </ul>

                @* Slå op knap script, skal redirect til controller med textarea value (virker stadig ikke) *@
                <script>
                    function passText() {
                        var text = $("#feedInput").val();
                        if ($("#feedInput").val() != "Lav et opslag..." && $("#feedInput").val() != '') {
                            window.location.href = '@Url.Action("CreateFeed", new {id = Model.BarID})' + '?t=' + text;
                        }
                    }
                </script>
            }


            <script>
                function deleteFeed(feedId){
                    window.location.href = '@Url.Action("DeleteFeed", new {id = Model.BarID})' + '?Fid=' + feedId;
                }
            </script>
            <div class="list" style="margin-right: 25px; margin-left: 15px">

                @foreach (var item in Model.Feeds)
            {
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: white; border-bottom-color: transparent">

                            @Model.BarName


                            @if (User.Identity.GetUserId() == Model.userID)
                            {
                                <button class="btn btn-default pull-right" onclick="deleteFeed(@item.FeedID)" style="font-size: 8px;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            }
                        </div>
                        <div class="panel-body">
                            <p id="feedPara">
                                @item.Text
                            </p>
                            <style>
                                #feedPara {
                                    width: inherit;
                                    font-size: 20px;
                                    word-wrap: break-word;
                                }
                            </style>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="width: 30%; float: left; margin-top: 5px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table>
                        <tr>
                            <td style="width: 27px"><span class="glyphicon glyphicon-time"></span></td>
                            <td>@*Åbningstider*@ @Model.OpenTime - @Model.CloseTime</td>
                        </tr>
                        <tr>
                            <td style="width: 27px"><span class="glyphicon glyphicon-book"></span></td>
                            <td>@*Fakultet*@ @Model.Faculty</td>
                        </tr>
                        <tr>
                            @*Vejnavn og nummer*@
                            <td style="width: 27px"><span class="glyphicon glyphicon-home"></span></td>
                            <td>@Model.Address1 @Model.StreetNumber</td>
                        </tr>
                        <tr>
                            @*Postnummer og by*@
                            <td style="width: 27px"></td>
                            <td>@Model.Zipcode @Model.City</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <div id="barMap"></div>
                    <style>
                        #barMap {
                            max-width: 100%;
                            height: 200px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>


    @* ************************ EVENT TAB ****************************** *@


    <div role="tabpanel" class="tab-pane fade in" id="Events">
        <h2>
            Events
            @if (User.Identity.GetUserId() == Model.userID)
            {
                <a href="@Url.Action("CreateEvent", "BarProfil", new {id = @Model.BarID})">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                </a>
            }
        </h2>
        
        

        <div class="container">
            @if (Model.Events != null)
            {
                <div class="container">
                    <hr />

                    <div class="agenda">
                        @foreach (var eventobj in Model.Events)
                        {
                            <a class="list-group-item">
                                <div class="container">
                                    <div class="col-lg-1">
                                        <div class="row">
                                            <p style="color: #22662f">
                                                @eventobj.DateAndTimeForEvent
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="row">
                                            <h4><b>@eventobj.Title</b></h4>
                                        </div>

                                        <div class="row">
                                            <p>
                                                @eventobj.BarModel.BarName
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p>
                                                @eventobj.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>

                    @if (Model.Events.Count == 0)
                {
                        <h2>@Model.BarName har ingen kommende events</h2>
                    }
                </div>
            }
        </div>

    </div>

    @* ************************ GALLERY TAB ****************************** *@

    <div role="tabpanel" class="tab-pane fade in" id="Galleri">
        <h2>
            Galleri <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
        </h2>
        @if (@Model.Pictures.Count > 0)
        {
            <div class="row">
                @foreach (var item in Model.Pictures)
                {
                    <div class="col-lg-3">
                        <div class="row">
                            <img class="resize"
                                 src="@Url.Content(item.Directory)"
                                 style="max-height: 200px; max-width: 290px; margin-left: auto; margin-right: auto; display: block;" />
                        </div>
                        <div class="row">
                            @Html.LabelFor(modelItem => modelItem.Description)
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    @* ************************ INFO TAB ****************************** *@

    <div role="tabpanel" class="tab-pane fade in" id="Info">
        <h2>
            Kontaktinformation
            <a href="@Url.Action("Edit", "BarProfil", new {id = @Model.BarID})">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></button>
            </a>

        </h2>

        <div class="container-fluid">
            <table class="table table" style="max-width: 400px;">
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => m.OpenTime):</td>
                        <td>@Model.OpenTime - @Model.CloseTime</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Email):</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.PhoneNumber):</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Faculty):</td>
                        <td>@Model.Faculty</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.City):</td>
                        <td>@Model.City</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Zipcode):</td>
                        <td>@Model.Zipcode</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Address1):</td>
                        <td>@Model.Address1</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.StreetNumber):</td>
                        <td>@Model.StreetNumber</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="row">
                <h2>
                    Om os
                    <a href="@Url.Action("Edit", "BarProfil", new {id = @Model.BarID})">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></button>
                    </a>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @*<div class="row">*@
            <h2>
                Drinkskort
                <a href="@Url.Action("CreateDrink", "BarProfil", new {id = @Model.BarID})">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                </a>
            </h2>
        </div>
        @if (Model.Drinks.Count > 0)
        {
            <div>
                @* Denne version af tabellen skal kun vises hvis det er baren selv der er logget ind*@
                <table class="table table">
                    <thead>
                        <tr>
                            <th class="col-md-2">@Html.LabelFor(d => d.Drinks[0].Title)</th>
                            <th class="col-md-1">@Html.LabelFor(d => d.Drinks[0].Price)</th>
                            <th class="col-md-4">@Html.LabelFor(d => d.Drinks[0].Description)</th>
                            <th class="col-md-1, text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Drinks)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Price kr</td>
                                <td>@item.Description</td>
                                <td class="col-md-1, text-right">
                                    @Html.ActionLink("Rediger", "EditDrink", new { id = item.DrinkID }) |
                                    @Html.ActionLink("Slet", "DeleteDrink", new { id = item.DrinkID })
                                    @* VI VED IKKE, HVAD DER SKER!! *@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>
</div>
